@charset "UTF-8";




div.mainViewW {
	height: 1800px;
	position: relative;
	
	
}
div.mainViewW div.midClassMenu {
	 width: 75vw;
    margin: 0 auto;
    position: center;
 	
    height: 10vh;
	
}

div.mainViewW div.midClassMenu ul.navListTop2 {
	margin-top: 100px;
    width: 75vw;
    padding: 0;
    text-align: center;
    font-size: 0;
    position: relative;
    

}
div.mainViewW div.midClassMenu ul.navListTop2 li.listItem2 {
	list-style: none;
    font-family: Arial Black;
    padding: 0px;
    height: 40px;
    width: 120px;
    line-height: 40px;
    border: none;
    font-size: 20px;
   
    display:inline-block;
    
    transform: translateY(-300px);
    animation: slideDown 0.8s ease-in-out forwards 0.8s;
    
}
div.mainViewW div.midClassMenu ul.navListTop2 li.listItem2 a.categoryA{
	 display: block;
    color: black;
    text-decoration: none;
    width: 180px;
}

div.mainViewW div.midClassMenu ul.navListTop2 li.listItem2 a.categoryA:hover{
	color: #00E676;
	cursor: pointer;
}


@keyframes slideDown {
  0% {
    transform: translateY(-300px);
  }
  100% {
    transform: translateY(0px);
  }
}


.categoryPage{
	position: absolute;
	height: auto;
 	width: 100vw;
 	overflow: hidden;
	background-color: #000000;
}

.categoryPage .pageDescription{
	text-align: center;
	overflow: hidden;
}



.hide {
  display: none;
  overflow: hidden;
}


.animate_content {
  animation: animate2 3s ease;
}
.fadeIn {
  z-index: 1;
}
/*  langClass
-----------------------------------*/
.langClass {
	
   background: white;
   height: auto;
 	width: 100vw;
}
/*  createClass
-----------------------------------*/
.createClass {
   background: white;
    height: auto;
 	width: 100vw;
}
/*  cookingClass
-----------------------------------*/
.cookingClass {
   background: white;
    height: auto;
 	width: 100vw;
}
/*  programmingClass
-----------------------------------*/
.programmingClass {
   background: white;
    height: auto;
 	width: 100vw;
}
/*  sportsClass
-----------------------------------*/
.sportsClass {
   background: white;
    height: auto;
 	width: 100vw;
}
/*****************************************************************
~ Mobile media-queries (max-width: 767px)
******************************************************************/
@media only screen and (max-width: 767px) {
  .pageDescription {
   
  }
}
@-moz-keyframes animate2 {
  10% {
    transform: scale(1, 0.002);
  }
  35% {
    transform: scale(0.2, 0.002);
    opacity: 1;
  }
  50% {
    transform: scale(0.2, 0.002);
    opacity: 0;
  }
  85% {
    transform: scale(1, 0.002);
    opacity: 1;
  }
  100% {
    transform: scale(1, 1);
  }
}
@-webkit-keyframes animate2 {
  10% {
    transform: scale(1, 0.002);
  }
  35% {
    transform: scale(0.2, 0.002);
    opacity: 1;
  }
  50% {
    transform: scale(0.2, 0.002);
    opacity: 0;
  }
  85% {
    transform: scale(1, 0.002);
    opacity: 1;
  }
  100% {
    transform: scale(1, 1);
  }
}
@-o-keyframes animate2 {
  10% {
    transform: scale(1, 0.002);
  }
  35% {
    transform: scale(0.2, 0.002);
    opacity: 1;
  }
  50% {
    transform: scale(0.2, 0.002);
    opacity: 0;
  }
  85% {
    transform: scale(1, 0.002);
    opacity: 1;
  }
  100% {
    transform: scale(1, 1);
  }
}
@keyframes animate2 {
  10% {
    transform: scale(1, 0.002);
  }
  35% {
    transform: scale(0.2, 0.002);
    opacity: 1;
  }
  50% {
    transform: scale(0.2, 0.002);
    opacity: 0;
  }
  85% {
    transform: scale(1, 0.002);
    opacity: 1;
  }
  100% {
    transform: scale(1, 1);
  }
}

/* 검색정렬 */
div.selectAndSearch{
	height: 80px;
	width: 80vw;
	position: relative;
	margin-top: 30px !important;
	margin-left: 500px !important;
	
}

.search-box {
  position: absolute;
  top: 30%;
  left: 40%;
  transform: translate(-50%,-50%);
  background: black;
  height: 50px;
  border-radius: 50px;
  padding: 10px;
}

.search-btn {
  color: white;
  float: right;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: black;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 2s;
  top: 30%;
}

.fa-search {
  background: black;
  font-size: 24px;
}

.search-input {
  border: none;
  background: none;
  outline: none;
  float: left;
  padding: 0;
  color: white;
  font-size: 20px;
  transition: 0.4s;
  line-height: 50px;
  width: 0;
}

.search-box:hover > .search-input {
  width: 250px;
  padding: 0 7px;
}

/* Reset Select */
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  outline: 0;
  box-shadow: none;
 
  background: #2c3e50;
  background-image: none;

 

}
/* Remove IE arrow */
select::-ms-expand {
  display: none;
}
/* Custom Select */
.select {
  position: relative;
  display: flex;
  width: 20em;
  height: 3em;
  line-height: 3;
  background: #2c3e50;
  overflow: hidden;
  border-radius: .25em;
  
}
select {
  flex: 1;
  padding: 0 .5em;
  color: #fff;
  cursor: pointer;
  
}
/* Arrow */
.select::after {
  content: '\25BC';
  position: absolute;
  top: 0;
  right: 0;
  padding: 0 1em;
  background: #34495e;
  cursor: pointer;
  pointer-events: none;
  -webkit-transition: .25s all ease;
  -o-transition: .25s all ease;
  transition: .25s all ease;
}
/* Transition */
.select:hover::after {
  color: #f39c12;
}

/* 클래스리스트들 */

div.searchedClassListView{
	
	width: auto;
	height: 1000px;
	position: relative;
	
	margin-top: 30px !important;
	margin: auto auto;
	

	padding: 30px;
	
}

div.classListTable{
	width: auto;
	height: auto;
	position: relative;
	float: left;
	margin-left: 300px;
}
div.container{
	position: relative;
	float: left;
	width: 600px;
	height: 50px;
}
.classCard {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 300px;
  height: 400px;
  float: left;
  margin-left: 20px;
}

.classCard:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.classContainer {
  padding: 2px 16px;
}
.classImg {
max-width:280px;
max-height: 300px;
}

